#empty{
    width: 850.6px;
    height: 80px;
    border: 1px solid #dadcdf;
    padding: 25px 40px;
    margin: 20px 107px 0px 0px;
    text-align: center;

}
#empty>p{
    font-size: 24px;
    font-weight: 400;
    color: #2f3337;
    font-family: HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif;
}
h2{
    font-size: 24px;
    font-weight: 400;
    margin: 0px 107px 0px;
    color: #2f3337;
}

.costing div:nth-child(1){ 
    display: flex;   
    border: 1px solid #dadcdf;
    width: 280px;
    height: 90px;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    
}
button{
    background-color: white;
    border: 0px;
    padding: 16px 0px 0px 0px;
    margin: 0px 0px 0px 15px;
    font-size: 18px;
    font-weight: 700;     
    color: #333333;      
}
.promocode{
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: 1px solid  #333333;
    border-radius: 4px;
    color: #2f3337;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 20px 0px 0px 5px;
    padding: 5px 0px 0px 10px;
}
.promocode+button{
    width: 98px;
    height: 48px;
    background-color: transparent;
    border: 1px solid #333333;
    border-radius: 4px;
    color: #2f3337;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 20px 0px 0px 10px;
    padding: 0px 0px 0px 0px;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-size: 16px;
    
    
}
.costing div:nth-child(2){
    border: 1px solid #dadcdf;
    width: 280px;
    height: 150px;
    
    margin: 20px  0px 0px 0px;
}
p+button{
    width: 220px;
    height: 40px;
    align-items: center;
    background-color: #2f3337;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0px 0px 0px 0px;
    margin: 10px 0px 0px 22px;
    font-size: 16px;
    font-weight: 400;
}

.costing div p:nth-child(1){
    font-family: HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: 15px 0px 0px 22px;
    color: #2f3337;
}
.costing div p:nth-child(2){
    font-family: HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin: -18px 0px 0px 150px ;
    color: #2f3337;
}
.costing div p:nth-child(3){
    font-family: HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 15px 0px 0px 22px;
    color: #2f3337;          
}
.costing div p:nth-child(4){
    font-family: HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: -23px 0px 0px 150px ;
    color: #2f3337;
}

img{
    width: 24px;
    height: 24px;
    padding: 0px 0px 0px 0px;
}

#promo{
    margin: 0px 0px 0px 8px; 
    text-align: center;
   
    line-height: 1.42857143;
}
#things, #recent{
    width: 931.6px;
    display: flex;
    gap: 10px;
    margin: 0px 0px 0px 0px;
}

#things div,#recent div{
    width: 90%;
   /* border: 1px dashed red; */
    
}
#things div img, #recent div img{
    width: 100%;
    height: 200px;
    border: 1px solid #dadcdf;
}
#things div button, #recent div button{
    width: 100%;
    font-size: 14px;
    height: 34px;
    font-weight: 400;
    border: 1px solid transparent;
    background-color: #fff;
    border-color: #2f3337;
    color: #2f3337;
    border-radius: 4px;
    justify-content: center;
    margin: 10px 0px 0px 0px;
    padding: 0px 10px 0px 0px;
}
#things div p:nth-child(3), #recent div p:nth-child(3){
    font-size: 14px;
    font-weight: 700;
    font-family: HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif;
    color: #ed0000!important;
    
}
#things div p:nth-child(4), #recent div p:nth-child(4){
    color: #545658;
    font-size: 14px;
    font-weight: 400;
    width: 100%;
    font-family: HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: -10px 0px 0px 0px;
}
#things div p:nth-child(5), #recent div p:nth-child(5){
    font-size: 12px;
    font-weight: 400;
    color: #545658;
}
#dummy+p{
    font-size: 18px;
    font-weight: 700;
    color: #2f3337;
    font-family: HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 40px 0px 15px 0px;
}
#things+p{
    font-size: 18px;
    font-weight: 700;
    color: #2f3337;
    font-family: HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif;
    margin: 50px 0px 15px 0px;
}
.main{
    align-items: center;
    display: flex;
    /*background-color: rgb(245,246, 247);*/
    border: none;
    cursor: pointer;
    flex-direction: column;
    margin: 50px 0px 0px 50%;
    color: #444;
    font-family: HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    background-color: #fff
}
.arrow {
    align-items: center;
    display: flex;
    background-color: #f5f6f7;
    border-radius: 50%;
    height: 54px;
    justify-content: center;
    margin-bottom: 20px;
    width: 54px
}

#rewardcontainer{
    background: #f5f6f7;
    width: 100%;
    height: 137px;
    margin: 40px 0px 0px 0px;
}
#rewardcontainer{
    display: flex;
    justify-content: center;
    
    
}
#rewardcontainer div>svg{
    width: 130px;
    margin: 0px 0px 0px 0px;
}
#rewardcontainer div>p{
    height: 60px;
    width: 365px;
    margin: 50px 0px 0px 50px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    font: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #444;
}
#rewardcontainer div>p>span{
    font-size: 20px;
    font-weight: 700;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#rewardcontainer div>button{
    width: 153px;
    height: 44px;
    font-size: 16px;
    background-color: #fff;
    font-weight: 400;
    color: #2f3337;
    align-items: center;
    border: 1px solid #2f3337;
    border-radius: 4px;
    margin: 50px 0px 0px 10px;
    padding: 0px 0px 0px 0px;
}

/*Style Cart Items*/
#cartitems{
    width: 850.6px;
    /*border: 1px dashed red;*/
    padding: 25px 40px;
    margin: -85px 107px 0px;
}
#cartitems>div{
    width: 930.6px;
    height: 220px;
    /*display: flex;*/
    grid-template-columns: repeat(1,1fr);
    background: #fff;
    border: 1px solid #dadcdf;
    margin: 75px 0px 0px -147px;
}
#cartitems>div div:nth-child(1){
    width: 300px;
    height: 100%;
}
#cartitems>div div:nth-child(1)>img{
    /*border: 1px solid green;*/
    width: 300px;
    height: 100%;
}

#cartitems>div div:nth-child(2){
    width: 670px;
    height: 100%;
    /*border: 1px solid red; */
    margin:-230px 0px 0px 320px;     
}
#cartitems>div div:nth-child(2)>p{
    height: 30px;
    color: #2f3337;
    font-family: HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
}
#cartitems>div div:nth-child(2)>h3{
    margin: 25px 0px 0px 0px; 
    color: #ed0000;
    font-family: HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 700;
}
#cartitems>div div:nth-child(2)>h3+p{
    height: 10px;
}
#cartitems>div div:nth-child(2)>button{
    margin: 30px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    color: #2f3337;
    font-family: HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 14px; 
    font-weight: 400;
}
#cartitems>div div:nth-child(2)>button+button{
    margin: 75px 0px 0px 28px;
}
#main2{
    
    height: 200px;
    margin: 0px 0px 0px 0px;
}
#parent{
display: flex;
width: 1300px;
/*height: 1620px;*/

margin: 0px 0px 0px 110px;       
}


#sub2{
width: 280px;
height: 300px;

margin: 16px 0px 0px -201px;
}



@media only screen and (min-width: 0px) and (max-width: 800px) {
    #things{
        flex-wrap: wrap;
        width: 300px;
    }
    #recent{
        flex-wrap: wrap;
        width: 300px;
    }
    #cartitems>div{
        
       width: 533px;
    }
    #cartitems>div div:nth-child(2) {
        width: 200px;
    }
} 