* {
  box-sizing: border-box;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
}
/* Header */
#navbar {
  display: flex;
  padding: 30px;
  justify-content: space-between;
  border-bottom: 0.5px solid grey;
  padding-bottom: 15px;
  width: 100%;
}
#logo {
  width: 150px;
}
#search input {
  width: 100%;
  height: 35px;
  margin-left: 20px;
  text-indent: 15px;
}
#search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin-right: 20px;
}
#search button {
  height: 35px;
  width: 35px;
  background-color: red;
  border: 0;
  border-radius: 0px 5px 5px 0px;
}
#btns {
  display: flex;
  gap: 5px;
  align-items: center;
}
#btns button {
  width: 45px;
  height: 33px;
  border: 0;
  background-color: white;
}
#btns img {
  width: 90%;
}
button > i {
  width: 30px;
}
nav {
  background-color: white;
  padding: 0px 15px;
  border-bottom: 0.5px solid gray;
  margin-bottom: -39px;
  font-size: 2vh;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

nav li {
  position: relative;
  padding-bottom: -10px;
}

nav a {
  color: #333;
  display: block;
  text-decoration: none;
  padding: 10px;
}

nav li::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: black;
  transition: width 0.3s ease;
  transform-origin: bottom left;
}

nav li:hover::after {
  width: 100%;
  transform-origin: bottom right;
}

header {
  z-index: 2;
  /* position: relative; */
  /* border: 3px solid red; */
  background-color: white;
}

/* Header ends here */

/* For sticky navbar -- not working right now */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 1;
}

h1,
h2,
h3,
h4,
h5,
p {
  color: #545658;
}
h1 {
  text-align: center;
  color: #2f3337;
}
body {
  margin: 0;
  padding: 0;
}
.swiper {
  width: 90%;
  height: 100%;
}

.swiper-slide {
  position: relative;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide img:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
}
.slideshow .swiper-pagination-bullet {
  background-color: red;
}
.swiper-pagination {
  margin-bottom: -10px;
}

/* Limited time deals */
.lt_deals_container {
  display: grid;
  width: 90%;
  margin: auto;
  gap: 20px;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
  margin-bottom: 60px;
}
.it_deals_container h2 {
  font-size: 90px;
}
h2 {
  font-size: 1.2vw;
}
.upper_img {
  position: relative;
}
.lt_deals_container img {
  width: 105%;
}
.lower_img {
  position: absolute;
  top: 0;
  left: 0;
}
/* Category */
#category {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  text-align: center;
}
#category img {
  width: 100%;
}
#category:hover {
  cursor: pointer;
}
/* 2 images */
.two-images {
  position: relative;
  width: 90%;
  margin: auto;
}
.two-images > #sec {
  position: absolute;
  top: 0;
  left: 0;
}
.two-images img {
  width: 100%;
}

/* Swiper */
.swiper {
  margin-top: 40px;
  width: 90%;
  height: 100%;
  margin-bottom: 50px;
}

.swiper-slide {
  text-align: left;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  background-color: #f5f6f7;
  padding-bottom: 20px;
}
.swiper-slide h2,
.swiper-slide p {
  padding: 0px 5px 0px 20px;
  margin-bottom: 0;
  font-size: 2vh;
}

.swiper-slide img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* Featured Brands */
#feat-brand {
  margin-top: 300px;
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  gap: 20px;
  text-align: center;
}
#feat-brand img {
  width: 100%;
}
#feat-brand div {
  background-color: #f5f6f7;
}
#feat-brand h3,
#feat-brand p {
  margin: 5px;
}

/* We've Got Your Style */
#got-your-style {
  /* display: flex; */
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  margin: auto;
  gap: 20px;
  padding-bottom: 0px;
}
#got-your-style img {
  width: 100%;
}
#got-your-style div {
  background-color: #f5f6f7;
}
#got-your-style h2,
#got-your-style p {
  margin: 20px;
}
/* Things We Know You'll Love */
#recommend-container {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 15px;
  margin-top: 40px;
  margin-bottom: 60px;
}
#recommend-container div {
  border: 1px solid gray;
}
#recommend-container > div:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition-duration: 0.5s;
  cursor: pointer;
}
#recommend-container img {
  width: 100%;
}
/* Shop Top-Rated Home Essentials */
.category-buttons {
  margin-top: 40px;
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}

.category-button {
  padding: 8px 12px;
  background-color: white;
  border: none;
  cursor: pointer;
  border-bottom: 4px solid transparent;
  font-size: 25px;
}
button:hover {
  border-bottom: 4px solid black;
  background-color: rgb(245, 243, 243);
  transition-duration: 1s;
  cursor: pointer;
}
.product-box {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}
.product-box img {
  width: 100%;
}
.product-box {
  width: 90%;
  margin: auto;
  border-top: 2px solid black;
}
.product-box > div:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition-duration: 0.5s;
  cursor: pointer;
}

/* Footer starts here */
#footer-upper {
  margin-top: 60px;
  background-color: #545658;
  height: 400px;
  display: flex;
  justify-content: space-between;
}
#footer-upper div {
  color: white;
  padding: 50px 100px;
}
#footer-upper h3,
#footer-upper p {
  color: white;
  font-weight: lighter;
}
#footer-lower {
  background-color: #2f3337;
  color: white;
  padding: 50px;
  display: flex;
  justify-content: space-evenly;
}
/* Footer ends here */
@media screen and (min-width: 800px) and (max-width: 1200px) {
  #catergory {
    grid-template-columns: repeat(4, 1fr);
  }
  #footer-upper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .swiper-slide h2,
  .swiper-slide p {
    padding: 0px 5px 0px 20px;
    margin-bottom: 0;
    font-size: 1vh;
  }
}
@media screen and (min-width: 646px) and (max-width: 799px) {
  #catergory {
    grid-template-columns: repeat(3, 1fr);
  }
  #footer-upper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 510px) and (max-width: 645px) {
  #catergory {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1022px) {
  nav {
    display: none;
  }
  #got-your-style p {
    /* grid-template-columns: repeat(2, 1fr); */
    font-size: 1.7vh;
  }
  #search {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  #recommend-container {
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  }
}
@media screen and (max-width: 612px) {
  .category-buttons {
    flex-wrap: wrap;
  }
  .product-box {
    grid-template-columns: repeat(auto-fit, minmax(25%, 1fr));
  }
}
